.body{
    z-index: 1;
    margin: 50;
    padding: 50;
}
#PDF {
    overflow: hidden;
    /* 16:9 aspect ratio */
    padding-top: 56.25%;
    position: relative;

  }
  
#PDF iframe {
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;

  }
.iframe-container{
    overflow: hidden;
    /* 16:9 aspect ratio */
    padding-top: 56.25%;
    position: relative;

  }
  
.iframe-container iframe {
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;

  }
#divBusqueda{
    background-color: transparent;
    margin-left: 130px;

}
#caja_busqueda{
    background-color: rgba(255, 255, 255, 0.178);
    border-color: transparent;
}
table{
    text-align: center;
    opacity: 0.5;
    transition: 0.5s;
}
table:hover{
    opacity: 0.9;
}
h1, h2{
    color: white;
    font-weight: 700;
    margin: 0 0 35px;
    text-align: right;
}

h3,h4, h5, h6 {
    color: white;
    font-weight: 700;
    margin: 0 0 35px;
    letter-spacing: 1px;
    font-size: 2.5rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: .5rem;
    text-align: center;
    /* Not pretty sure about the hole uppercase 
    text-transform: uppercase;
    */
  }
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  
  
  
#mainNavbar{
    color: red;

}
#VBG{
    position: fixed;
    z-index: -1;
    width: 100%;
    height: auto;
}


@media (min-aspect-ratio: 16/9){
    #VBG{
        width: 100%;
        height: auto;
    }

}
@media (max-aspect-ratio: 16/9){
    #VBG{
        width: auto;
        height: 100%;
    }

}
/*
    Style for the collapsable navbar
*/

@import "https://fonts.googleapis.com/css2?family=Montserrat&display=swap";
body {
    font-family: 'Montserrat', sans-serif;
    background: #313131a8;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: rgb(255, 255, 255);
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: rgb(8, 8, 8);
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    /*background: rgba(0, 0, 0, 0.767);*/
    background: #333A40;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    /*Literally the 1% of the sidebar edge that is possible to see at the very left of the browser*/
    box-shadow: 3px 3px 3px  rgba(238, 215, 4, 0);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    /*background: rgba(51, 51, 51, 0.425);*/
    background: #333A40;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #fff;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    /*background: rgba(57, 66, 71, 0.651);*/
    background: #333a4052;
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    /*background: rgba(0, 0, 0, 0.425);*/
    background: #333A40
    
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #dae5eb;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color:  rgba(255, 255, 255, 0.651);
    ;
}

#sidebar ul li a:hover {
    color: #000000;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0) !important;
}

a.article,
a.article:hover {
    background: #ffffff !important;
    color: rgb(0, 0, 0) !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}